<form novalidate [formGroup]="form">
  <h1>Reactive Forms Strongly Typed</h1>
  <div class="form-group-container">
    <mat-form-field>
      <input
        matInput
        autofocus
        onFocus="this.select()"
        placeholder="Nome"
        formControlName="name"
        (keyup.enter)="save()"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        autofocus
        onFocus="this.select()"
        placeholder="Idade"
        formControlName="age"
        (keyup.enter)="save()"
      />
    </mat-form-field>
  </div>
  <button (click)="save()">Submit</button>
</form>
